spring:
  management:
    endpoints:
      web:
        exposure:
          include: health
    endpoint:
      health:
        probes:
          enabled: true
        show-details: always
    health:
      livenessState:
        enabled: true
      readinessState:
        enabled: true
