apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      containers:
      - name: redpanda
        image: docker.redpanda.com/redpandadata/redpanda:v24.2.2
        command:
        - redpanda
        - start
        - --smp
        - "1"
        - --reserve-memory
        - "0M"
        - --overprovisioned
        - --node-id
        - "0"
        - --kafka-addr
        - "PLAINTEXT://0.0.0.0:9092"
        - --advertise-kafka-addr
        - "PLAINTEXT://kafka:9092"
        - --pandaproxy-addr
        - "0.0.0.0:8082"
        - --schema-registry-addr
        - "0.0.0.0:8081"
        ports:
        - containerPort: 9092  # Kafka
        - containerPort: 8081  # Schema Registry
        - containerPort: 8082  # HTTP Proxy
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: default
spec:
  selector:
    app: kafka
  ports:
    - protocol: TCP
      port: 9092
      targetPort: 9092
      name: broker
    - protocol: TCP
      port: 8081
      targetPort: 8081
      name: schema-registry
