apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-zookeeper
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-zookeeper
  template:
    metadata:
      labels:
        app: kafka-zookeeper
    spec:
      containers:
      - name: kafka-zookeeper
        image: confluentinc/cp-zookeeper:7.6.0
        env:
        - name: ZOOKEEPER_CLIENT_PORT
          value: "2181"
        - name: ZOOKEEPER_TICK_TIME
          value: "2000"
        - name: ZOOKEEPER_SYNC_LIMIT
          value: "10"
        - name: ZOOKEEPER_INIT_LIMIT
          value: "5"
        - name: ZOOKEEPER_MAX_CLIENT_CNXNS
          value: "60"
        - name: ZOOKEEPER_RECONFIG_ENABLED
          value: "false"
        - name: ZOOKEEPER_SASL_ENABLED
          value: "false"
        ports:
        - containerPort: 2181
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "250m"
---
apiVersion: v1
kind: Service
metadata:
  name: kafka-zookeeper
  namespace: default
spec:
  selector:
    app: kafka-zookeeper
  ports:
    - protocol: TCP
      port: 2181
      targetPort: 2181
