apiVersion: apps/v1
kind: Deployment
metadata:
  name: ecommerce-api
  namespace: default
  labels:
    app: ecommerce-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ecommerce-api
  template:
    metadata:
      labels:
        app: ecommerce-api
    spec:
      containers:
      - name: ecommerce-api
        image: ghcr.io/zetta1973/ecommerce-api:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
          name: http
        env:
        - name: SPRING_PROFILES_ACTIVE
          valueFrom:
            configMapKeyRef:
              name: ecommerce-config
              key: SPRING_PROFILES_ACTIVE
        - name: LOG_LEVEL
          valueFrom:
            configMapKeyRef:
              name: ecommerce-config
              key: LOG_LEVEL
        - name: SPRING_DATASOURCE_URL
          valueFrom:
            configMapKeyRef:
              name: ecommerce-config
              key: datasource-url
        - name: SPRING_DATASOURCE_USERNAME
          value: "user"
        - name: SPRING_DATASOURCE_PASSWORD
          value: "pass"
        - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
          valueFrom:
            configMapKeyRef:
              name: ecommerce-config
              key: kafka-bootstrap-servers
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
