apiVersion: v1
kind: Service
metadata:
  name: ecommerce-api
  namespace: default
  labels:
    app: ecommerce-api
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: ecommerce-api
